<!DOCTYPE html>
<html>
  <head>
    <title>Free darkside</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/f2057f9f44.js" crossorigin="anonymous"></script>
    <% $title = 'Freepanel.io'%>
  </head>

  <body>

  <div id="particles-js"></div>
  <div id="navbar">
    <a id="navbar-docs" href="https://darksidepanel.com/api">API Docs</a>
    <h1 id="navbar-title"><%= link_to $title, root_path%></h1>
    <a id="navbar-button" href="https://darksidepanel.com">Upgrade</box-icon></a>
  </div>

    <%= yield %>


  <script>
    // Check if there's a saved timer
    var savedTime = localStorage.getItem('savedTime');
    var submitButton = document.getElementById('submit-button');
    if (savedTime) {
      var timeLeft = (180000 - (Date.now() - savedTime)) / 1000;
      if (timeLeft > 0) {
        submitButton.disabled = true;
        submitButton.style.opacity = 0.5;
        startTimer(timeLeft);
      } else {
        submitButton.disabled = false;
        submitButton.style.opacity = 1;
      }
    }

    document.getElementById('followers-form').addEventListener('submit', function(e) {
      // Prevent the form from submitting
      e.preventDefault();

      // Disable the submit button
      submitButton.disabled = true;
      submitButton.style.opacity = 0.5;

      // Start the timer
      startTimer(180);

      // Save the current time
      localStorage.setItem('savedTime', Date.now());

      // Submit the form
      this.submit();
    });

    function startTimer(duration) {
      var timer = duration, minutes, seconds;
      var display = document.querySelector('#timer');
      display.style.display = 'block';
      var intervalId = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          clearInterval(intervalId);
          display.style.display = 'none';
          submitButton.disabled = false;
          submitButton.style.opacity = 1;
          localStorage.removeItem('savedTime');
        } else {
          submitButton.disabled = true;
          submitButton.style.opacity = 0.5;
        }
      }, 1000);
    }
  </script>

    <script src="https://app.darksidepanel.com/assets/js/particles1.js"></script>
    <script src="https://app.darksidepanel.com/assets/js/app1.js"></script>
  </body>
</html>
